<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite1" verbose="1" >
  <test name="chrometest" >
  <parameter name="browser"  value= "chrome" />
    <classes>
      <class name="LoginTest"/>
    </classes>
 </test>
 
 
 <test name="firefoxtest" >
 <parameter name="browser"  value= "firefox" />
    <classes>
      <class name="LoginTest"/>
    </classes>
 </test>
 
 
 
</suite>